.m-top-0 {
    margin-top: 0rem;
}

.m-bottom-0 {
    margin-bottom: 0rem;
}

.m-top-mid {
    margin-top: 1.75rem;
}

.m-top-big {
    margin-top: 2.5rem;
}

.col-darkgreen {
    background-color: #101C19;
}

.col-green {
    background-color: #052721;
}

.col-violet {
    background-color: #1D0F1C;
}

* {
    border: 0;
    margin: 0;
}

html {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 19px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    border-bottom: 1px solid;
    color: inherit;    
    transition: 0.3s;
    cursor: pointer;
}

a:hover {
    color:red;
    font-weight: bold;
}

body {
    background-color: #3a3635;
    color: #feefe0;
    text-align:center;
    font-family: 'Nunito', sans-serif;
}

.bgbox {
    padding: 2vw 0 2vw 0;
    width: 100%;
    margin:0 auto;
}

.title-thumb {
    /* margin:0 auto; */
    /* flex-basis: 25rem; */
    display: grid;
}

.title-thumb > video, div {
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 1;
    /* background-color: aqua; */
}

.title-name {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
}

.title-name > p {
    font-size: 3rem;
    color: white;
    text-shadow: 0 5px .3rem black, 0 0 .5rem black, 0 0 .5rem black;
    letter-spacing: .1rem;
    font-weight: 200;
}

.titlebox{
    max-width: 1280p;
    margin:0 auto;
}

.textbox{
    max-width: min(86vw, 1024px);
    margin:0 auto;
}

.mediabox {
    max-width: min(94vw, 1280px);
    margin:0 auto;
}

.quotebox{
    padding: .75rem 0 .75rem 0;
}

p, ul, ol {
    text-align:left;
    font-size: 1rem;
    line-height: 1.5rem;
    /* margin-top: 1rem; */
    padding: 0 1rem 0 1rem;
}

.p_italic {
    font-weight: 200;
    font-style: italic;
}

/* h1, h2, h3 {
    
} */

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.italic {
    /* font-weight: 500; */
    font-style: italic;
}

figure{
    margin-top: 2vw;
    /* margin-bottom: 2rem; */
}

figcaption {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 100;
    font-size: .9rem;
    font-style: italic;
    /* margin-top: .5rem; */
}

.figureContainer {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2vw;
}

figure > img, a {
    cursor: zoom-in;
}

img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

video {
    width: 100%;
    height: auto;
}





