:root {
    --col-green-dark: #1D312D;
    --col-green-mid: #214038;
    --col-green-bright: #2D453F;
    --col-gray-light: #E6E6E6;
    --col-beige: #B3AA92;
    --col-primary-900: black;

    --ff-primary: 'Nunito Sans', sans-serif;
    --fw-extra-light: 200;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-black: 900;
}

/* CSS reset
https://www.joshwcomeau.com/css/custom-css-reset/ 
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* ------------------------------ */
body {
    --padding: 1.5rem;
    --padding-min: 1rem;
    
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    background-color: var(--col-green-dark);
    
    /* display: grid; */
    /* overflow-y: auto; */
    /* align-content: center; */
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6rem;
}

.desktop-nav {
    --box-shadow-nonhover: 0 0 10px rgba(0 0 0 / .05);
    --box-shadow-hover: 0 0 10px rgba(0 0 0 / .2);

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    
    background-color: var(--col-green-dark);
    padding: var(--padding);
    color: var(--col-gray-light);
    text-align: center;
}

.desktop-nav__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: var(--fw-extra-light);
    font-size: 1.25em;
}

.desktop-nav__logo > img {
    margin-top: 1em;
    margin-bottom: .5em;
    height: 4rem;
}

.desktop-nav button {
    color: var(--col-gray-light);
    border: 0;
}

.desktop-nav__big-btn {
    --big-btn-height: 3rem;
    
    cursor: pointer;
    background-color: var(--col-green-mid);
    height: var(--big-btn-height);
    border-radius: var(--big-btn-height);
    box-shadow: var(--box-shadow-nonhover);

    width: 100%;
    margin-top: 3rem;

    font-size: .95rem;
    line-height: 1.1em;
    font-weight: var(--fw-semi-bold);

    transition: all 200ms;
}

.desktop-nav__big-btn:not(:first-of-type) {
    margin-top: 1rem;
}

.desktop-nav__big-btn span {
    font-weight: var(--fw-extra-light);
}

.desktop-nav__big-btn:hover {
    color: white !important;
    background-color: var(--col-green-bright);
    box-shadow: var(--box-shadow-hover);
}

.desktop-nav__socials {
    --social-btn-size: 2.25em;
    --social-btn-radius: 1.125rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
}

.desktop-nav__social-btn-clickarea {
    cursor: pointer;
    background-color: unset;
    height: var(--social-btn-size);
    width: 100%;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop-nav__social-btn-clickarea > div {
    box-shadow: var(--box-shadow-nonhover);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--social-btn-size);
    height: 100%;
    background-color: var(--col-green-bright);
    border-radius: var(--social-btn-radius);
    
    transition: all 200ms cubic-bezier(.47,1.64,.41,.8);
}

.desktop-nav__social-btn-clickarea p {
    opacity: 0;
    transition: all 200ms 100ms;
    position: absolute;
    /* left: 0; */
    justify-self: start;
    transform: translateX(50%);
    /* margin-left: .3rem; */
}

.desktop-nav__social-btn-clickarea i {
    /* flex: 1; */
    font-size: 1.25em;
    transition: all 200ms;
}

.desktop-nav__social-btn-clickarea:hover > div {
    box-shadow: var(--box-shadow-hover);
    width: calc(100% - 2rem);
}

.desktop-nav__social-btn-clickarea:hover i {
    transform: translateX(2em);
}

.desktop-nav__social-btn-clickarea:hover p {
    opacity: 100;
    transform: translateX(calc(50% - 3.25em));
    /* transition: all 1000ms; */
}


.desktop-nav__copyright {
    font-size: .65rem;
    margin-top: 2rem;
    font-weight: var(--fw-extra-light);
    font-style: italic;
    /* justify-item: flex-end; */
}

main {
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow-y: hidden;

    font-size: 1.75rem;
    font-weight: var(--fw-bold);
}

.desktop-top-text-bar {
    display: flex;
    font-weight: var(--fw-semi-bold);
    /* justify-content: center; */
    text-align: center;
}

.desktop-top-text-bar > div {
    width: 100%;
    padding: var(--padding-min) var(--padding) 0;

    background-color: var(--col-green-dark);
    color: var(--col-gray-light);
}

.desktop-top-text-bar > div:first-of-type {
    color: var(--col-primary-900);
    background-color: var(--col-beige);
}

.scrollable {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}

.scrollable::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.mobile-top-logo {
    background-color: var(--col-green-dark);
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em;
}

.mobile-top-logo > img {
    height: 5rem;
    /* width: auto; */
    object-fit: contain;
    transform: translateX(.2rem);
}

.mobile-top-logo > p {
    color: var(--col-gray-light);
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    background-color: var(--col-beige);
    color: var(--col-primary-900);
}

.feed:last-of-type {
    background-color: var(--col-green-dark);
    color: var(--col-gray-light);    
}

.thumb {
    width: 100%;
    box-shadow: 0 0 1vh rgb(0 0 0 / .2);
    height: auto;
    aspect-ratio: 2;
    overflow: hidden;

    cursor: pointer;
    border: 0;
    padding: 0;

    transition: all 150ms;
}

.thumb:hover {
    box-shadow: 0 0 1vh rgb(0 0 0 / .35);
}

.thumb > img {
    width: 100%;
}

.mobile-nav {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
    background-color: var(--col-green-dark);
    padding: 1rem;
}

.mobile-nav__btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-inline: 2rem 1rem;
    font-size: 1.3rem;
    font-weight: var(--fw-bold);

    height: 100%;
    
    border-radius: 8rem;

    color: var(--col-gray-light);
    background-color: var(--col-green-mid);
}

.mobile-nav__btn span {
    font-size: 2em;
}

/* .mobile-nav > :nth-child(1) {
    width: 30%;
}

.mobile-nav > :nth-child(2) {
    width: 50%;
} */

@media screen and (min-aspect-ratio: 3/4) {

    .wrapper {
        grid-template-columns: 14rem 1fr;
        grid-template-rows: none;
    }

    .scrollable {

    }

    .rows-or-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 100%;
    }

    .feed {
        align-items: center;
        min-height: 100%;
        gap: var(--padding);
        padding: var(--padding);
        padding-top: var(--padding-min);
    }

    .feed > p {
        display: none;
    }

    .thumb > img{
        /* max-width: auto; */
        width: 100%;
        height: auto;
        /* aspect-ratio: 2; */
        /* height: 50%; */
    }

    /* autohide mobile elements */
    [class^="mobile-"] {
        display: none;
    }
}

/* Autohide desktop / mobile elements */
@media screen and (max-aspect-ratio: 3/4) {
    [class^="desktop-"] {
        display: none;
    }

    .feed:last-child {
        padding-bottom: 10rem;
    }
}

/* @media screen and (min-width: 640px) {
    
} */