:root {
    --col-green-dark: #1D312D;
    --col-green-mid: #214038;
    --col-green-bright: #2D453F;
    --col-gray-light: #E6E6E6;
    --col-beige: #B3AA92;
    --col-primary-900: black;

    --ff-primary: 'Nunito', sans-serif;
    --fw-extra-light: 200;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-black: 900;

}

/* CSS reset
https://www.joshwcomeau.com/css/custom-css-reset/ 
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* ------------------------------ */
body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6rem;
}

.desktop-nav {
    display: flex;
    flex-direction: column;
    
    background-color: var(--col-green-dark);
    padding: .5em;

    text-align: center;
}

.desktop-nav__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--col-gray-light);
    font-weight: 200;
    font-size: .6em;
}

.desktop-nav__logo > img {
    margin-bottom: .8em;
    width: 45%;
}

main {
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow-y: hidden;

    font-size: 1.75rem;
    font-weight: var(--fw-bold);
}

.desktop-art-work-bar {
    display: flex;
    /* justify-content: center; */
}

.desktop-art-work-bar > div {
    width: 100%;
    padding: 1.5vw 1.5vw 0;

    background-color: var(--col-green-dark);
    color: var(--col-gray-light);
}

.desktop-art-work-bar > div:first-of-type {
    color: var(--col-primary-900);
    background-color: var(--col-beige);
    text-align: right;
}

.scrollable {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}

.scrollable::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.mobile-top-logo {
    background-color: var(--col-green-dark);
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 1em;
}

.mobile-top-logo > img {
    height: 5rem;
    /* width: auto; */
    object-fit: contain;
    transform: translateX(.2rem);
}

.mobile-top-logo > p {
    color: var(--col-gray-light);
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    background-color: var(--col-beige);
    color: var(--col-primary-900);
}

.feed:last-of-type {
    background-color: var(--col-green-dark);
    color: var(--col-gray-light);    
}

.thumb {
    width: 100%;
    box-shadow: 0 0 1vh rgb(0 0 0 / .5);
    height: auto;
    aspect-ratio: 2;
    overflow: hidden;
}

.thumb > img {
    width: 100%;
}

.mobile-nav {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
    background-color: var(--col-green-dark);
    padding: 1rem;
}

.mobile-nav__btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-inline: 3rem 1rem;
    font-size: 2rem;
    font-weight: var(--fw-bold);

    height: 100%;
    
    border-radius: 8rem;

    color: var(--col-gray-light);
    background-color: var(--col-green-mid);
}

.mobile-nav__btn span {
    font-size: 2em;
}

/* .mobile-nav > :nth-child(1) {
    width: 30%;
}

.mobile-nav > :nth-child(2) {
    width: 50%;
} */

@media screen and (min-aspect-ratio: 3/4) {

    .wrapper {
        grid-template-columns: 10rem 1fr;
        grid-template-rows: none;
    }

    .scrollable {

    }

    .rows-or-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 100%;
    }

    .feed {
        align-items: center;
        min-height: 100%;
        gap: 1.5vw;
        padding: 1.5vw;
    }

    .feed > p {
        display: none;
    }

    .thumb > img{
        /* max-width: auto; */
        width: 100%;
        height: auto;
        /* aspect-ratio: 2; */
        /* height: 50%; */
    }

    /* autohide mobile elements */
    [class^="mobile-"] {
        display: none;
    }
}

/* Autohide desktop / mobile elements */
@media screen and (max-aspect-ratio: 3/4) {
    [class^="desktop-"] {
        display: none;
    }
}

/* @media screen and (min-width: 640px) {
    
} */