html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;  
  /* touch-action: none; */
  background-color: #3A3636;
}

canvas {
  display: block;
}

#p5_loading{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.loadergif {
  max-width: 30%;
}